#nameData {
    font-size: 30px;
    color: blue;
    /* Other styles */
}
  #ageData {
      position: absolute;
      left: 500px;
  }

.lower-third {
    background: linear-gradient(135deg, #e8d7d7, #dc4343);
}

