#nameData {
    font-size: 30px;
    color: blue;
    /* Other styles */
}
  #ageData {
      position: absolute;
      left: 500px;
  }

.lower-third {
    background-image: url(./shirt-texture.jpeg); 
}

